.app-wrapper{
    max-width: 1400px;
    display: grid;
    grid-template-areas: 
    "h h"
    "n c"
    "f f";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 60px 10fr 100px;

}
.app-wrapper-content{
    grid-area: c;
    background-color: darkgray;
}
.footer{
    grid-area: f;
    background-color: darkslategrey;
}

